# API Token Species+ (https://api.speciesplus.net)
api_token_speciesplus=YOUR_TOKEN_HERE

# Database Configuration (MariaDB)
DB_HOST=md391.wedos.net
DB_NAME=d48423_vetapp
DB_USER=a48423_vetapp
DB_PASS=YOUR_DB_PASSWORD
